@charset "UTF-8";

* {	/*--make all to 0 as default--*/
	padding: 0;
	margin: 0;
	outline:none;
	-webkit-text-size-adjust: none !important;
}


/* Fonts */

@font-face {
    font-family: 'futura_bold';
    src: url('fonts/futura_bold-webfont.eot');
    src: url('fonts/futura_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura_bold-webfont.woff') format('woff'),
         url('fonts/futura_bold-webfont.ttf') format('truetype'),
         url('fonts/futura_bold-webfont.svg#futura-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'futura_book';
	src: url('fonts/FuturaStd-Book.eot');
	src: local('☺'), 
	url('fonts/FuturaStd-Book.woff') format('woff'), 
	url('/fonts/FuturaStd-Book.ttf') format('truetype'), 
	url('fonts/FuturaStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#content {
    margin-top:0px;
}

#block {
    padding-left:50%;
    margin-left:-450px;
    z-index:-1;
    height:910px;
    padding-top:10px;
}

#scale_icon {
	float:right;
	z-index:-5;
	display:block;
	padding-top:0px;
	margin-left:5px;
}
              
/* Style for overlay and box */

a.activator {
    z-index:1;
    cursor:pointer;
}

.overlay {
    background: #000;
    opacity:0.5;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:1;
}

.box {
    position:fixed;
    margin:auto;
    top:-170px;
    width:100%;
    background-color:#fff;
    color:#fff;
    padding:20px;
    z-index:1;
    max-height:200px;
    display:none;
    -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
		-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
		box-shadow:0px 1px 2px rgba(0,0,0,0.3);
}
        
/* Style for overlay and box end*/        

.logo {
  width: 900px;
  height: 900px;
  background: url(/images/logo.svg);
  background-position: center top;
  background-size: 900px 3600px;
  padding: 0px;
}


@media only screen and (min-width: 15em) {
	.logo {background-position: left -2700px;}
}

@media only screen and (min-width: 40em) {
	.logo {background-position: left -1800px;}
}

@media only screen and (min-width: 60em){
	.logo {background-position: left -900px;}
}

@media only screen and (min-width: 100em){
	.logo {background-position: left -0px;}
}